alembic
astroid
atomicwrites
attrs
beautifulsoup4
certifi
chardet
Click
colorama
Flask
Flask-Login
Flask-Migrate
Flask-SQLAlchemy
Flask-WTF
gunicorn
idna
isort
itsdangerous
Jinja2
lazy-object-proxy
Mako
MarkupSafe
mccabe
more-itertools
numpy
pandas
pluggy
psycopg2
py
pylint
pytest
python-dateutil
python-editor
pytz
requests
robotframework
robotframework-selenium2library
robotframework-seleniumlibrary
robotframework-xvfb
selenium
six
soupsieve
SQLAlchemy
tinydb
urllib3
virtualenv
Werkzeug
wrapt
WTForms
xlrd
xvfbwrapper