<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SWE 4203 Demo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="{{ url_for('static', filename='materialize.min.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='http.js') }}"></script>
    <link rel= "stylesheet" type= "text/css" href= "/static/app.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <form action="/app/submit" method="POST"> 
            <div class="row">
                <div class="col-9" id="input" style="border-style: solid;"><h1 class="text-center">Input</h1>
                    <div id="budget">
                        <div class="row">
                            <div class="col">
                                Amount budgeted for project ( $ ): <input type="number" name="budget">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                Earnings ($ earned/kW produced): <input type="text" name="profit">
                            </div>
                        </div>
                    </div>
                    <div id="turbines">
                        <h2>Turbines</h2>
                        <div class="col" id="turbine_input">
                        </div>
                        <div id="optional_costs">
                            <h2>Optional Costs</h2>
                            <div class="col" id="optional_cost_input">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3" id="output" style="border-style: solid;"><h1 class="text-center">Output</h1>
                    <select id="dropDown"></select>
                    <div class="col">
                        <div id="turbine_output">
                            <div class="row">
                                <p>Budget($): <div id="budgetval"></div> </p>
                            </div>
                            <div class="row">
                                <p>Placement(s): <div id="locations"></div> </p>
                            </div>
                            <div class="row">
                                <p># of Turbines: <div id="numTurbines"></div> </p>
                            </div>
                            <div class="row">
                                <p>Type: <div id="type"></div> </p>
                            </div>
                            <div class="row">
                                <p>Total Time (years): <div id="totalTime"></div> </p>
                            </div>
                            <div class="row">
                                <p>Cost ($): <div id="totalCost"></div> </p>
                            </div>
                            <div class="row">
                                <p>Power produced (MW): <div id="totalPower"></div></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>     
            <div class="row">
                <input type="submit" name="type" value="Calculate" class="btn btn-info btn-lg col">
                <input type="submit" name="type" value="Export" class="btn btn-success btn-lg col">
            </div>       
        </form>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

    <script type="text/javascript">
        function formatted_title( title ) {
            return title.replace(/\W|\s/g,"_");
        }

        function updateOutput(input) {
             var dropDownValue =$("#dropDown").val();
              get_request( "/app/getresult", function(data) {
               data = data.filter(result =>
                   result['type'] == dropDownValue
               );

               // Should only be one left after filtering.
               data = data[0];

               Object.keys(data).forEach(function(key,index) {
                // key: the name of the object key
                // index: the ordinal position of the key within the object
                    if(Array.isArray(data[key])) {
                        $("#" + key).empty();
                        data[key].forEach(function(listItem, index) {
                            $("#" + key).append('<p>' + 'Longitude, Latitude: '+ listItem + '</p>')
                        });
                    } else {
                        $("#" + key).empty().append('<span> &nbsp' + data[key] + '</span>')
                    }
                 });

            }, get_default_error_handler );
        }

        $(document).ready(function() {
            get_request( "/app/get_turbine_data", function(data) {
                for(var attribute in data ) {
                    formatted_attribute = formatted_title(attribute)
                    $("#turbine_input").append('<div class="row" id="' + formatted_attribute + '"></div>');
                    $("#" + formatted_attribute ).append('<div class="col-5">' + attribute + '</div>')
                    for( var element in data[attribute]) {
                        if (attribute == "Turbine Type") {
                            $("#" + formatted_attribute).append('<input class="col" type="text" name="' + attribute + '_turbine_' + data["Turbine Type"][element] + '" value="' + data[attribute][element] + '" disabled>')
                        } else {
                            $("#" + formatted_attribute).append('<input class="col" type="text" name="' + attribute + '_turbine_' + data["Turbine Type"][element] + '" value="' + data[attribute][element] + '">')
                        }
                    }
                }
            }, get_default_error_handler );

            get_request( "/app/get_optional_cost_data", function(data) {
                for(var attribute in data ) {
                    formatted_attribute = formatted_title(attribute)
                    $("#optional_cost_input").append('<div class="row" id="' + formatted_attribute + '"></div>');
                    $("#" + formatted_attribute ).append('<div class="col-3">' + attribute + '</div>')
                    for( var element in data[attribute]) {
                        if (attribute == "Type") {
                            $("#" + formatted_attribute).append('<input class="col" type="text" name="' + attribute + '_optional_' + element + '" value="' + data[attribute][element] + '" disabled>')
                        } else if (attribute == "Rule") {
                            $("#" + formatted_attribute).append('<p class="col">' + data[attribute][element] + '</p>')
                        } else {
                            $("#" + formatted_attribute).append('<input class="col" type="text" name="' + attribute + '_optional_' + data["Type"][element] + '" value="' + data[attribute][element] + '">')
                        }
                    }
                }
            }, get_default_error_handler );


            get_request( "/app/getresult", function(data) {
                if(data) {
                    data.forEach(function(listItem, index) {
                        $('#dropDown').append(new Option(listItem['type'], listItem['type']));
                    });
                updateOutput(data[0]['type']);

                }
            }, get_default_error_handler );
        });


         $("#dropDown").change(updateOutput);


    </script>
</body>
</html>